@{
    ViewData["Title"] = "Movie List";
}

<h2>My Movie List</h2>

public async Task<IActionResult>
    Index(string searchString)
    {
    var movies = from m in _context.Movie
    select m;

    if (!String.IsNullOrEmpty(searchString))
    {
    movies = movies.Where(s => s.Title.Contains(searchString));
    }

    return View(await movies.ToListAsync());
    }
    <p>Hello from our View Template!</p>
